### Pandas 데이터 분석 모듈 불러오기

In [1]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.1f' % x)

set_option()으로 출력 formating 설정 가능

위에서는 실수 format을 1자리까지 출력하도록 formating 설정

### 데이터 불러오기
CSV(Comma-seperated values)는 데이터 분석에서 많이 사용되는 파일 확장자

In [3]:
data = pd.read_csv('http://bit.ly/ld-sample-idol', index_col='순위')

In [4]:
#head() : 상위 5개 값 읽어오기
data.head()

      이름     그룹  소속사  성별        생년월일     키 혈액형   브랜드평판지수
순위
1     지민  방탄소년단  빅히트  남자  1995-10-13 173.6   A  10523260
2   지드래곤     빅뱅   YG  남자  1988-08-18 177.0   A   9916947
3   강다니엘    NaN  커넥트  남자  1996-12-10 180.0   A   8273745
4      뷔  방탄소년단  빅히트  남자  1995-12-30 178.0  AB   8073501
5     화사    마마무  RBW  여자  1995-07-23 162.0   A   7650928

### 데이터 접근하기 
 위의 표와 같은 형태를 pandas에서 dataframe이라고 함
 데이터 프레임은 반드시 row와 column으로 구성된 data set(데이터 묶음)

### Column 선택
 [괄호] 안에 ' 또는 " 안에 column명 넣으면 해당 column의 값을 읽어옴

In [5]:
#data["이름"]
data['이름']

순위
1       지민
2     지드래곤
3     강다니엘
4        뷔
5       화사
6       정국
7       민현
8       소연
9        진
10     하성운
11      태연
12     차은우
13      백호
14      JR
15      슈가
Name: 이름, dtype: object

### row 선택
**iloc**이라는 함수를 통해 row의 숫자를 지정하거나 범위 지정하여 값을 읽어옴

In [6]:
# row 3에 해당하는 row 전체 값 읽어옴
data.iloc[3]

이름                  뷔
그룹              방탄소년단
소속사               빅히트
성별                 남자
생년월일       1995-12-30
키               178.0
혈액형                AB
브랜드평판지수       8073501
Name: 4, dtype: object

In [7]:
# 3 - 7 범위에 해당하는 row 값들을 읽어옴
data.iloc[3:7]

    이름     그룹   소속사  성별        생년월일     키 혈액형  브랜드평판지수
순위
4    뷔  방탄소년단   빅히트  남자  1995-12-30 178.0  AB  8073501
5   화사    마마무   RBW  여자  1995-07-23 162.0   A  7650928
6   정국  방탄소년단   빅히트  남자  1997-09-01 178.0   A  5208335
7   민현   뉴이스트  플레디스  남자  1995-08-09 182.0   O  4989792

In [8]:
# 원하는 row만 선택하여 값 읽어옴
data.iloc[[1,3,5,7,9]]

      이름     그룹      소속사  성별        생년월일     키 혈액형  브랜드평판지수
순위
2   지드래곤     빅뱅       YG  남자  1988-08-18 177.0   A  9916947
4      뷔  방탄소년단      빅히트  남자  1995-12-30 178.0  AB  8073501
6     정국  방탄소년단      빅히트  남자  1997-09-01 178.0   A  5208335
8     소연    아이들       큐브  여자  1998-08-26 157.0   B  4668615
10   하성운     핫샷  스타크루이엔티  남자  1994-03-22 167.0   A  4036489

### Column & Row 선택

In [9]:
# Column 선택후 Row 읽어옴
data['이름'].iloc[3]

'뷔'

In [10]:
# Column 선택후 Row 범위만큼 읽어옴
data['이름'].iloc[3:5]

순위
4     뷔
5    화사
Name: 이름, dtype: object

## Pandas 기능 
#### <간단 산술 통계>
- info() : 데이터의 간단한 정보를 가져옴
- describe() : 데이터의 산술 통계 정보를 가져옴
- isnull() : 데이터가 누락되었는지 여부를 확인함
- sum() : 데이터를 합산함
- value_counts() : 데이터의 종류별 갯수를 확인

#### <고급 산술 통계>
- groupby(또는 pivot_table): 연도별, 성별 통계와 같이 특정 column으로 데이터 뽑아낼 때 활용함

#### <조건 필터링>
- loc : 조건문에 대한 필터를 걸어 데이터를 확인함
- &와| 연산자

#### <데이터 전처리>
- replace() : 데이터를 다른 값으로 일괄 바꿔줄 때 활용함
- fillna() : 빈 값을 채워줄 때 활용함, na는 NaN(Not a Number)를 지칭하며 숫자 뿐만아니라 비어 있는 값을 통틀어 지칭함
- map() : 데이터를 매핑 해줌

### info() 
: 그룹 열(column)에 갯수가 하나 부족한 것을 확인하여 처리해야하는 작업을 체크함

보통 데이터 분석을 본격적으로 시작하기 전에, **비어있는 값을 체크**하거나, **데이터 타입을 확인**할 때 사용함

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 1 to 15
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        15 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

### describe()
: 산술적인 통계 정보를 보여줌. 그렇기 때문에 **산술 가능한 column**만 보여줌

산술이 가능하다는 말 = 숫자형 데이터로 이루어져 있다

In [12]:
data.describe()

          키    브랜드평판지수
count  15.0       15.0
mean  173.4  5655856.1
std     8.1  2539068.0
min   157.0  2925442.0
25%   170.3  3712344.0
50%   176.0  4668615.0
75%   178.5  7862214.5
max   183.0 10523260.0

### isnull() 
: 데이터가 누락되었는지 여부를 확인하여 보여줌

In [13]:
data['그룹'].isnull()

순위
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
Name: 그룹, dtype: bool

총 비어있는 row의 갯수를 알고 싶으면 isnull()과 sum()을 연속 작성함

In [14]:
data['그룹'].isnull().sum()

1

 그룹 column에서 빈 값이 총 1개